:root {
    --header-bg-color: #2d303a;
    --header-shadow-bg-color: #323746;
    --nav-dot-color: #404455;
    --slider-bg-color: #f06c64;
    --slider-shadow-bg-color: #ea676b;
    --our-services-bg-color: #f2f2f2;
    --white-color: #ffffff;
    --portfolio-bg-color: #2d303a;
    --portfolio-shadow-bg-color: #323746;
    --block-title-color: #666d89;
    --block-text-color: #767e9e;
    --wrapper-content-width: 1020px;
    --font: 'Lato', Verdana, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    font-family: var(--font);
}

.wrapper {
    max-width: var(--wrapper-content-width);
    margin: auto;
}

.contact-us {
    min-height: 655px;
    background: var(--slider-bg-color);
    padding: 67px 0 59px 0;
    border-bottom: 6px solid var(--slider-shadow-bg-color);
    overflow: hidden;
}

.contact-us__wrapper {
    padding: 0 40px;
}

.contact-us .description-block {
    padding-bottom: 9px;
    padding-top: 3px;
}

.contact-us__container {
    display: flex;
    flex-wrap: wrap;
}

.form {
    width: 620px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.form input,
.form textarea {
    margin-bottom: 20px;
}

.info {
    max-width: 300px;
    padding-left: 10px;
}


/*Footer*/

.footer {
    min-height: 75px;
    background: var(--header-bg-color);
    padding: 22px 0 22px 0;
    border-bottom: 6px solid var(--header-shadow-bg-color);
    overflow: hidden;
}


/*Social icons*/

.fa {
    font-size: 17px;
    width: 31px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    margin: 7px 3px 7px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-google,
.fa-linkedin {
    background: transparent;
    color: var(--block-title-color);
    border: 1px solid var(--block-title-color);
}