:root {
    --header-bg-color: #2d303a;
    --header-shadow-bg-color: #323746;
    --nav-dot-color: #404455;
    --slider-bg-color: #f06c64;
    --slider-shadow-bg-color: #ea676b;
    --our-services-bg-color: #f2f2f2;
    --nav-color: #ffffff;
    --wrapper-content-width: 1020px;
    --font: 'Lato', Verdana, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    font-family: var(--font);
}

.wrapper {
    max-width: var(--wrapper-content-width);
    margin: auto;
}


/*Header*/

.header {
    background: var(--header-bg-color);
    border-bottom: 6px solid var(--header-shadow-bg-color);
    padding: 14px 0 16px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo {
    font-size: 2.5rem;
    letter-spacing: -0.5px;
}

.logo>a {
    font-weight: 700;
    text-align: left;
    color: var(--nav-color);
    text-decoration: none;
}

.logo>a>span {
    color: var(--slider-bg-color);
}


/*Navigation*/

.header__navigation {
    padding: 23px 0px 15px;
}

.navigation {
    display: flex;
}

.navigation__item {
    list-style: none;
    padding-left: 13px;
}

.navigation__link {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 0.6rem;
    color: var(--nav-color);
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.06px;
}

.navigation__link:hover {
    color: var(--slider-bg-color);
}

.navigation__item::before {
    content: "\00B7";
    margin-right: 10px;
    color: var(--nav-dot-color);
}

.navigation__item:first-child::before {
    color: var(--header-bg-color);
}


/*Slider*/

.slider {
    height: 599px;
    background-color: var(--slider-bg-color);
    border-bottom: 6px solid var(--slider-shadow-bg-color);
}

.slider__wrapper {
    position: relative;
    padding: 0px 42px;
}

.slider__button {
    display: inline-block;
    width: 16px;
    height: 27px;
    position: absolute;
    top: 281px;
    cursor: pointer;
}

.slider__button_arrow-left {
    background: url(./assets/img/icons/chevl.svg) no-repeat;
}

.slider__button_arrow-left:hover {
    background: url(./assets/img/icons/chevl_hover.svg) no-repeat;
}

.slider__button_arrow-right {
    background: url(./assets/img/icons/chevr.svg) no-repeat;
    right: 40px;
}

.slider__button_arrow-right:hover {
    background: url(./assets/img/icons/chevr_hover.svg) no-repeat;
}

.phones {
    position: relative;
    padding: 53px 70px;
}

.phones__item {
    position: absolute;
}

.phone__shadow {
    position: absolute;
    display: inline-block;
}

.phone__base {
    display: inline-block;
    position: absolute;
    top: -1px;
    left: -2px;
}

.phone__screen {
    display: inline-block;
    position: absolute;
    top: -70px;
}

.phones__item_horizontal {
    top: 173px;
    right: 95px;
    transform: rotate(90deg);
}

.phones__item_horizontal .phone__screen {
    top: -57px;
    left: -105px;
    transform: rotate(-90deg);
}

.phones__item_horizontal .phone__shadow {
    transform: scale(1, -1);
    top: -25px;
}