:root {
    --header-bg-color: #2d303a;
    --header-shadow-bg-color: #323746;
    --nav-dot-color: #404455;
    --slider-bg-color: #f06c64;
    --slider-shadow-bg-color: #ea676b;
    --our-services-bg-color: #f2f2f2;
    --white-color: #ffffff;
    --portfolio-bg-color: #2d303a;
    --portfolio-shadow-bg-color: #323746;
    --block-title-color: #666d89;
    --block-text-color: #767e9e;
    --block-title-color-2: #f0d8d9;
    --input-bg: #d6564f;
    --input-text-color: #f48c8f;
    --wrapper-content-width: 1020px;
    --font: "Lato", Verdana, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    font-family: var(--font);
}

.wrapper {
    max-width: var(--wrapper-content-width);
    margin: auto;
}

.contact-us {
    min-height: 655px;
    background: var(--slider-bg-color);
    padding: 67px 0 0 0;
    border-bottom: 6px solid var(--slider-shadow-bg-color);
    overflow: hidden;
}

.contact-us__wrapper {
    padding: 0 40px;
}

.contact-us .description-block {
    padding-bottom: 43px;
    padding-top: 2px;
}

.contact-us .description-block__title,
.contact-us .description-block__text {
    color: var(--block-title-color-2);
}

.contact-us__container {
    display: flex;
    flex-wrap: wrap;
}

.form {
    max-width: 630px;
    width: 630px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

input {
    font-size: 1.2rem;
    line-height: 3.8rem;
    background: var(--input-bg);
    color: var(--input-text-color);
    max-width: 619px;
    height: 39px;
    padding: 0px 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    margin-bottom: 16px;
}

textarea {
    font-size: 1.2rem;
    line-height: 3.8rem;
    background: var(--input-bg);
    color: var(--input-text-color);
    max-width: 619px;
    height: 202px;
    max-height: 202px;
    padding: 0px 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    overflow: auto;
    resize: none;
    margin-bottom: 16px;
}

.form__submit {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background: var(--input-bg);
    color: var(--input-text-color);
    overflow: hidden;
    max-width: 619px;
    height: 39px;
    line-height: 3.8rem;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
}

.form__submit:hover {
    background: var(--header-shadow-bg-color);
    opacity: 0.7;
    color: var(--input-bg);
    transition-duration: 0.3s;
}

::placeholder {
    color: var(--input-text-color);
    font-size: 1.2rem;
    letter-spacing: -0.3px;
    text-align: left;
}

textarea::placeholder {
    word-spacing: -0.3rem;
}

.info {
    max-width: 310px;
    padding-left: 10px;
}

.info__title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--block-title-color-2);
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.16px;
    padding-top: 2px;
}

.info__description {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: var(--block-title-color-2);
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.16px;
    margin: 10px 0 21px;
}

.info__contact,
.info__contact a {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: var(--block-title-color-2);
    font-weight: 400;
    text-align: left;
}

.info__contact a {
    text-decoration: none;
}

.info__contact .fa {
    font-size: 1.2rem;
    width: 10px;
    height: 10px;
    line-height: 2.3rem;
    margin: 0px 11px 0px 1px;
}

.fa.fa-phone {
    transform: scaleX(-1);
}


/*Footer*/

.footer {
    min-height: 75px;
    background: var(--header-bg-color);
    padding: 22px 0 22px 0;
    border-bottom: 6px solid var(--header-shadow-bg-color);
    overflow: hidden;
}

.footer__wrapper {
    padding: 0 40px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 400;
    margin-top: 6px;
    letter-spacing: -0.16px;
    color: var(--block-title-color);
}


/*Social icons*/

.footer__social .fa {
    font-size: 1.7rem;
    width: 31px;
    height: 31px;
    line-height: 2.8rem;
    text-align: center;
    text-decoration: none;
    margin: 0px 3px 0px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-google,
.fa-linkedin {
    background: transparent;
    color: var(--block-title-color);
    border: 1px solid var(--block-title-color);
}