@charset "UTF-8";
/**/
/**/
.message-box .message, body {
  font-family: "Lato", Verdana, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
}

.wrapper {
  max-width: 1020px;
  margin: auto;
}

.description-block {
  padding-bottom: 40px;
}
.description-block__title {
  font-size: 3rem;
  line-height: 1.8rem;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.16px;
  margin-bottom: 27px;
}
.description-block__text {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.15px;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 767px) {
  .layout-3-column {
    display: block;
  }
}

.layout-2-column {
  display: flex;
  width: 300px;
  padding-top: 5px;
  margin-right: 20px;
  margin-bottom: 25px;
}
.layout-2-column:nth-child(3n) {
  margin-right: 0px;
}
@media (max-width: 1019px) {
  .layout-2-column:nth-child(3n) {
    margin-right: 53px;
    margin-bottom: 53px;
  }
}
@media (max-width: 767px) {
  .layout-2-column:nth-child(3n) {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 1019px) {
  .layout-2-column:nth-child(2n) {
    margin-right: 0px;
    margin-bottom: 53px;
  }
}
@media (max-width: 767px) {
  .layout-2-column:nth-child(2n) {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .layout-2-column:last-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 1019px) {
  .layout-2-column {
    margin-right: 53px;
    margin-bottom: 53px;
  }
}
@media (max-width: 767px) {
  .layout-2-column {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.fa {
  font-size: 17px;
  width: 31px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  text-decoration: none;
  margin: 7px 3px 7px 2px;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-google,
.fa-linkedin {
  background: transparent;
  color: #666d89;
  border: 1px solid #666d89;
}

.message-box {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0008;
}

.message-box.hidden {
  display: none;
}

.message-box .message {
  position: relative;
  padding: 20px 0;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 350px;
  height: auto;
  border: 2px solid #f2f2f2;
  text-align: center;
  background: #323746;
  color: #ffffff;
  border-radius: 14px;
}

.message p {
  word-wrap: break-word;
  padding: 0 10px;
}

.button-container {
  padding-top: 30px;
}

.button_ok {
  padding: 0px 20px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background: #d6564f;
  color: #ffffff;
  overflow: hidden;
  line-height: 2.8rem;
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 5px;
}
.button_ok:hover {
  background: #f48c8f;
  opacity: 0.7;
  transition-duration: 0.3s;
}

.header {
  background: #2d303a;
  border-bottom: 6px solid #323746;
  padding: 14px 0 16px 0;
}
.header_sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.header__navigation {
  padding: 23px 0px 15px;
}

.logo {
  font-size: 2.5rem;
  letter-spacing: -0.5px;
}
.logo a {
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.logo a span {
  color: #f06c64;
}

/*Navigation*/
.navigation {
  display: flex;
}
.navigation__item {
  list-style: none;
  padding-left: 13px;
}
.navigation__item::before {
  content: "·";
  margin-right: 10px;
  color: #404455;
}
.navigation__item:first-child::before {
  color: #2d303a;
}
.navigation__link {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 0.6rem;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.06px;
}
.navigation__link_active {
  color: #f06c64;
}
.navigation__link:hover {
  color: #f06c64;
}

.slider {
  min-height: 599px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  overflow: hidden;
}
.slider__wrapper {
  position: relative;
  padding: 0px 42px;
}
.slider__button {
  display: inline-block;
  width: 16px;
  height: 27px;
  position: absolute;
  z-index: 10;
  top: 281px;
  cursor: pointer;
}
.slider__button_arrow-left {
  background: url(./assets/img/icons/chevl.svg) no-repeat;
}
.slider__button_arrow-left:hover {
  background: url(./assets/img/icons/chevl_hover.svg) no-repeat;
}
.slider__button_arrow-right {
  background: url(./assets/img/icons/chevr.svg) no-repeat;
  right: 40px;
}
.slider__button_arrow-right:hover {
  background: url(./assets/img/icons/chevr_hover.svg) no-repeat;
}

.phones {
  position: relative;
  padding: 53px 70px;
  min-height: 580px;
  width: 100%;
}
.phones__item {
  position: absolute;
}
.phones__item_horizontal {
  top: 173px;
  right: 96px;
  transform: rotate(90deg);
}
.phones__item_horizontal .phone__screen {
  top: 132px;
  left: -63px;
  transform: rotate(-90deg);
}
.phones__item_horizontal .phone__shadow {
  transform: scale(1, -1);
  top: -27px;
}

.phone__shadow {
  position: absolute;
  display: inline-block;
  z-index: 1;
}
.phone__base {
  display: inline-block;
  position: absolute;
  top: -2px;
  z-index: 2;
}
.phone__screen {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 9px;
  z-index: 3;
}
.phone__screen_off {
  display: none;
}

.slider-img {
  position: absolute;
  top: 0;
  left: -40px;
}

.slide-right {
  animation-name: slide-right;
  animation-duration: 1s;
}

.slide-left {
  animation-name: slide-left;
  animation-duration: 1s;
}

@keyframes slide-right {
  from {
    transform: translate(110%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes slide-left {
  from {
    transform: translate(-110%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.our-services {
  padding: 69px 0 35px;
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
.our-services__wrapper {
  padding: 0px 40px;
}
@media (max-width: 1019px) {
  .our-services {
    padding: 44px 0 18px;
  }
}
@media (max-width: 767px) {
  .our-services {
    padding: 44px 0 24px;
  }
}

.service__icon {
  align-self: flex-start;
  padding: 10px;
  width: 60px;
  height: 60px;
  border: 2px solid #666d89;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 3px;
}
.service__icon img {
  width: 36px;
  height: 36px;
}
.service__title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  margin-top: 1px;
  margin-bottom: 10px;
}
.service__description {
  max-height: 65px;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #767e9e;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: justify;
  word-spacing: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio {
  min-height: 869px;
  background: #2d303a;
  padding: 67px 0 59px 0;
  border-bottom: 6px solid #323746;
}
.portfolio .description-block {
  padding-bottom: 7px;
  padding-top: 3px;
}
@media (max-width: 1019px) {
  .portfolio .description-block__text {
    word-spacing: 1.6px;
  }
}
.portfolio__menu {
  margin-bottom: 19px;
}
@media (max-width: 1019px) {
  .portfolio__menu {
    margin-bottom: 28px;
  }
}
.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  max-height: 600px;
  overflow: hidden;
}
@media (max-width: 1019px) {
  .portfolio__container {
    max-height: unset;
  }
}
.portfolio__img {
  margin-bottom: 20px;
  margin-right: 20px;
  height: 187px;
  width: 220px;
}
.portfolio__img_active {
  border: 5px solid #f06c64;
}
.portfolio__img img {
  width: 100%;
  height: 100%;
}
.portfolio__img :hover {
  opacity: 0.5;
  transition-duration: 0.2s;
}
@media (max-width: 1019px) {
  .portfolio__img:nth-child(3n) {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .portfolio__img:nth-child(3n) {
    margin-right: 20px;
  }
}
.portfolio__img:nth-child(4n) {
  margin-right: 0;
}
@media (max-width: 1019px) {
  .portfolio__img:nth-child(4n) {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .portfolio__img:nth-child(4n) {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .portfolio__img:nth-child(2n) {
    margin-right: 0px;
  }
}
@media (max-width: 1019px) {
  .portfolio__img:last-child {
    margin-right: 0px;
  }
}
.portfolio__img::before {
  content: "";
  float: left;
  padding-top: 100%;
}
@media (max-width: 1019px) {
  .portfolio__img {
    width: unset;
    height: unset;
    flex: 1 0 25%;
  }
}
@media (max-width: 767px) {
  .portfolio__img {
    width: unset;
    height: unset;
    flex: 1 0 32%;
  }
}
.portfolio-wrapper {
  padding: 0 40px;
}

.menu {
  list-style-type: none;
}
.menu__item {
  display: inline-block;
  margin-right: 5.4px;
}
.menu__link {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  padding: 3px 7px;
  border: 1px solid #767e9e;
  border-radius: 4px;
  letter-spacing: -0.12px;
}
.menu__link_active {
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.7s;
}
.menu__link:hover {
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.7s;
}

.about-us {
  min-height: 733px;
  background: #f2f2f2;
  padding: 68px 0 44px 0;
  border-bottom: 6px solid #ffffff;
}
.about-us-wrapper {
  padding: 0 40px;
}
@media (max-width: 767px) {
  .about-us-wrapper {
    padding: 0 30px;
  }
}
.about-us .description-block {
  padding-bottom: 45px;
}
@media (max-width: 1019px) {
  .about-us .description-block__text {
    word-spacing: -1px;
  }
}
@media (max-width: 767px) {
  .about-us .description-block__text {
    word-spacing: -1.44px;
  }
}
@media (max-width: 1019px) {
  .about-us .description-block {
    padding-bottom: 32px;
  }
}
@media (max-width: 1019px) {
  .about-us {
    padding: 52px 0 69px 0;
    min-height: unset;
  }
}
@media (max-width: 767px) {
  .about-us {
    padding: 52px 0 39px 0;
    min-height: unset;
  }
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profile__item {
  max-width: 300px;
}
@media (max-width: 1019px) {
  .profile__item {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .profile__item {
    margin: 0 auto;
    margin-bottom: 34px;
  }
}
@media (max-width: 1019px) {
  .profile__item:last-child {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .profile__item:last-child {
    margin: 0 auto;
  }
}
.profile__avatar {
  margin-bottom: 14px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .profile__avatar {
    margin-bottom: 18px;
  }
}
.profile__name {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  margin-bottom: 9px;
  letter-spacing: -0.27px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile__description {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.02px;
  margin-bottom: 17px;
}
@media (max-width: 1019px) {
  .profile__description {
    word-spacing: -1px;
  }
}
@media (max-width: 1019px) {
  .profile {
    flex-wrap: nowrap;
    justify-content: stretch;
  }
}
@media (max-width: 767px) {
  .profile {
    display: block;
  }
}

.contact-us {
  min-height: 655px;
  background: #f06c64;
  padding: 67px 0 0 0;
  border-bottom: 6px solid #ea676b;
  overflow: hidden;
}
.contact-us__wrapper {
  padding: 0 40px;
}
@media (max-width: 767px) {
  .contact-us__wrapper {
    padding: 0 30px;
  }
}
.contact-us .description-block {
  padding-bottom: 44px;
  padding-top: 2px;
}
@media (max-width: 1019px) {
  .contact-us .description-block {
    padding-bottom: 31px;
  }
}
@media (max-width: 767px) {
  .contact-us .description-block {
    padding-bottom: 19px;
  }
}
.contact-us .description-block__title,
.contact-us .description-block__text {
  color: #f0d8d9;
}
@media (max-width: 767px) {
  .contact-us .description-block__title,
.contact-us .description-block__text {
    word-spacing: -1.44px;
  }
}
.contact-us__container {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1019px) {
  .contact-us {
    padding: 60px 0 0 0;
  }
}
@media (max-width: 767px) {
  .contact-us {
    padding: 44px 0 0 0;
  }
}

.form {
  max-width: 630px;
  width: 630px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}
.form__submit {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background: #d6564f;
  color: #f48c8f;
  overflow: hidden;
  max-width: 619px;
  height: 39px;
  line-height: 3.8rem;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}
.form__submit:hover {
  background: #323746;
  opacity: 0.7;
  color: #d6564f;
  transition-duration: 0.3s;
}
@media (max-width: 767px) {
  .form__submit {
    max-width: none;
    margin-bottom: 0px;
  }
}
@media (max-width: 1019px) {
  .form {
    width: 58vw;
    padding-right: 19px;
  }
}
@media (max-width: 767px) {
  .form {
    width: 100vw;
    padding-right: 0px;
    max-width: none;
  }
}

input {
  font-size: 1.2rem;
  line-height: 3.8rem;
  background: #d6564f;
  color: #f48c8f;
  max-width: 619px;
  height: 39px;
  padding: 0px 15px;
  outline: none;
  border: 0;
  border-radius: 5px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  input {
    max-width: none;
  }
}

textarea {
  font-size: 1.2rem;
  line-height: 3.8rem;
  background: #d6564f;
  color: #f48c8f;
  max-width: 619px;
  height: 202px;
  max-height: 202px;
  padding: 0px 15px;
  outline: none;
  border: 0;
  border-radius: 5px;
  overflow: auto;
  resize: none;
  margin-bottom: 14px;
}
textarea::placeholder {
  word-spacing: -0.3rem;
}
@media (max-width: 767px) {
  textarea {
    max-width: none;
  }
}

::placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  letter-spacing: -0.3px;
  text-align: left;
}

input:focus:invalid,
textarea:focus:invalid {
  border: 2px solid red;
}

input:focus,
textarea:focus {
  border: 2px solid #ffffff;
}

.info {
  max-width: 310px;
  padding-left: 10px;
}
.info__title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #f0d8d9;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.16px;
  padding-top: 1px;
}
.info__description {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #f0d8d9;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.16px;
  margin: 10px 0 21px;
}
@media (max-width: 1019px) {
  .info__description {
    word-spacing: 2.45px;
  }
}
@media (max-width: 767px) {
  .info__description {
    word-spacing: -1px;
    margin: 10px 0 23px;
  }
}
.info__contact {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #f0d8d9;
  font-weight: 400;
  text-align: left;
}
.info__contact a {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #f0d8d9;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}
.info__contact .fa {
  font-size: 1.2rem;
  width: 10px;
  height: 10px;
  line-height: 2.3rem;
  margin: 0px 11px 0px 1px;
}
.info__contact .fa-phone {
  transform: scaleX(-1);
}
@media (max-width: 1019px) {
  .info {
    width: 31vw;
  }
}
@media (max-width: 767px) {
  .info {
    width: 100vw;
    padding-top: 32px;
    padding-left: 0px;
    padding-bottom: 36px;
    max-width: none;
  }
}

.footer {
  min-height: 75px;
  background: #2d303a;
  padding: 22px 0 22px 0;
  border-bottom: 6px solid #323746;
  overflow: hidden;
}
.footer__wrapper {
  padding: 0 40px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__container {
    justify-content: center;
  }
}
.footer__copyright {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 400;
  margin-top: 6px;
  letter-spacing: -0.16px;
  color: #666d89;
}
@media (max-width: 767px) {
  .footer__copyright {
    display: none;
  }
}
.footer__social .fa {
  font-size: 1.7rem;
  width: 31px;
  height: 31px;
  line-height: 2.8rem;
  text-align: center;
  text-decoration: none;
  margin: 0px 3px 0px 2px;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
